name: Xata migrate main to dev

on:
  workflow_dispatch:

jobs:
  migrate_main_to_dev:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Load Secrets in Env
        run: |
          npx tsx ./scripts/load-secrets
        env:
          NODE_ENV: production
          INFISICAL_CLIENT_ID: ${{ secrets.INFISICAL_CLIENT_ID }}
          INFISICAL_CLIENT_SECRET: ${{ secrets.INFISICAL_CLIENT_SECRET }}
          INFISICAL_PROJECT_ID: ${{ secrets.INFISICAL_PROJECT_ID }}

      - name: Install Xata CLI
        run: |
          npm install -g @xata.io/cli@latest

      - name: Start Xata Migration from main to dev
        run: |
          npx tsx ./scripts/migration-start main dev
        env:
          COMMIT_MSG: "${{ github.event.head_commit.message }}"

      - name: Complete Xata Migration from main to dev
        run: |
          npx tsx ./scripts/migration-complete main dev
        env:
          COMMIT_MSG: "${{ github.event.head_commit.message }}"
