name: Reload secrets on app engine

on:
  workflow_dispatch:
    inputs:
      environment:
        description: "Environment to reload secrets for"
        required: true
        default: production
        type: choice
        options:
          - production
          - dev
          - test

jobs:
  reload_secrets:
    runs-on: ubuntu-latest

    steps:
      - name: Load Secrets in Env
        run: |
          npx tsx ./scripts/load-secrets-ci
        env:
          NODE_ENV: ${{ github.event.inputs.environment }}
          INFISICAL_CLIENT_ID: ${{ secrets.INFISICAL_CLIENT_ID }}
          INFISICAL_CLIENT_SECRET: ${{ secrets.INFISICAL_CLIENT_SECRET }}
          INFISICAL_PROJECT_ID: ${{ secrets.INFISICAL_PROJECT_ID }}

      - name: Reload Secrets on App Engine
        run: |
          npx tsx ./scripts/reload-secrets ${{ github.event.inputs.environment }}
